@media screen and (max-width: 600px) {
    div.nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        width: 100vw;
    }
    
    div.logo {
        font-size: 1.3rem;
    }
    
    ul.nav-links {
        flex-direction: column;
    }
    
    ul li {
        margin: 0;
        font-size: 1rem;
    }
    
    ul li a {
        display: block;
    }

    div.hero-section {
        padding: 5rem 2rem;
    }
    
    div.hero-content-heading h3 {
        font-size: 1.6rem;
        text-transform: none;
        text-align: center;
    }
    
    div.hero-content-heading p {
        font-size: 0.6rem;
    } 

    div.hero-background {
        padding: 3rem;
    }
    
    div.background {
        padding: 10px 30px;
        width: 300px;
        height: 250px;
    }
    
    div.background h4 {
        padding: 1rem;
        font-size: 1rem;
    }
    
    div.background p {
        padding-left: 1rem;
        font-size: 0.8rem;
    }
    
    div.hero-background-pos {
        display: none;
    } 

    div.hero-background {
        padding: 3rem;
    }
    
    div.background {
        padding: 10px 30px;
        width: 300px;
        height: 250px;
    }
    
    div.background h4 {
        padding: 1rem;
        font-size: 1rem;
    }
    
    div.background p {
        padding-left: 1rem;
        font-size: 0.8rem;
    }
    
    div.hero-background-pos {
        display: none;
    } 

    div.snapshot-team {
        background: #f0f0f0;
        text-align: center;
        padding: 2rem;
    }
    
    div.snapshot-team h2 {
        font-size: 1.2rem;
    }
    
    div.snapshot-team p {
        font-size: 0.8rem;
    }
    
    div.snapshot-box {
        padding: 2rem 0rem;
    }
    div.snapshot-box-content {      
        display: flex;         
        flex-direction: column;
    }
    
    div.box1 {
        width: 300px;
        height: 230px;
    }
    
    div.box3 {
        width: 300px;
        height: 230px;    }
    
    div.box3 h5 {
        text-align: center;
        padding-top: 2rem;
        color: #E44C65;
        font-size: 1rem;
    }
    
    div.circle {
        display: flex;
        margin: 0 auto;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: #bcc3c7;
        margin-top: 2rem;
        
    }
    
    div.box1 h5 {
        text-align: center;
        padding-top: 2rem;
        color: #E44C65;
        font-size: 1rem;
    }
}
